.btn-generar-dte {
    background-color: #28a745; /* Verde */
    border-color: #28a745;
    color: white;
}

.btn-generar-dte:hover,
.btn-generar-dte:focus,
.btn-generar-dte:active {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-ver-dte {
    background-color: #17a2b8; /* Azul */
    border-color: #17a2b8;
    color: white;
}

.btn-ver-dte:hover,
.btn-ver-dte:focus,
.btn-ver-dte:active {
    background-color: #138496;
    border-color: #117a8b;
}

